@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Reem+Kufi:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
    --main-color:#23305a;
    --main-color1 : #6295b2;
    --main-color2 : #f38db9;
    --main-color3 : #1f1833;
    --main-color4 : #44b5e5;
    --secondry-color1:#e1f3fd;
    --gold:#ffb741;
    --main-padding : 100px;
    --min-height : 90vh;
    --background-card : linear-gradient(90deg , #ce8afb , #b476fd , #ac6cfd );
}


.app{
 background:  #6fb9915f;
 /* background-color: #1d232a; */
 color: #a6adba;
 color: #333;
 font-family: "Reem Kufi", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
*{
   font-family: "Reem Kufi", sans-serif !important;
  font-optical-sizing: auto !important;
  font-style: normal !important;
}

.button{
     background: var(--background-card);
     border: 1px solid var(--background-card);
}