@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400&family=Reem+Kufi:wght@400..700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap'); */

:root {
    --main-color:#23305a;
    --main-color1 : #6295b2;
    --main-color2 : #f38db9;
    --main-color3 : #1f1833;
    --main-color4 : #44b5e5;
    --secondry-color1:#e1f3fd;
    --gold:#ffb741;
    --main-padding : 100px;
    --min-height : 90vh;
    /* --background-card : linear-gradient(120deg , #6295b2 , #44b5e5 ); */
    --background-card : linear-gradient(180deg , #0081A7 , #227c9d );
    /* --background-card : linear-gradient(90deg , #FBC2EB , #78A3EB ); */

    

}


.app{
 background:  #6fb9915f;
 background: #f4f4f8;
 color: #a6adba;
 color: #2A2C41;
 font-family: "Reem Kufi", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  word-spacing: 8px;
}
body{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
*{
   font-family: "Reem Kufi", sans-serif !important;
  font-optical-sizing: auto !important;
  font-style: normal !important;
}

.button{
     background: var(--background-card);
     border: 1px solid var(--background-card);
}