.p-sidebar-right .p-sidebar {
 width: 15rem;
}
ul{
 list-style: none;
 padding: 0;
}
ul li a{
text-decoration: none;
line-height: 2;
font-size: 18px;
font-weight: 700;
color: #333;
}

li a.active{
 color: #6FB992;
}
.nav svg{
 font-size: 25px;
}
.p-button.p-button-icon-only {
width: 4rem;
}
.p-button{
 position: fixed;
 left: 8%;
 z-index: 1001;

}
.p-sidebar-right .p-sidebar{
 width: 20rem;
}